<%- include("partials/header"); -%>
<h1 style="text-align:center;">MY CONTACT DETAILS</h1>
<table>
  <tr>
    <th>
      Mobile Number
      </th>
    <td style="text-align: center">
      9661949215
      </td>
    </tr>
  <tr>
    <th>
        Email
    </th>
    <td>
          mdhussainahmad993@gmail.com
      </td>
  </tr>
  </table>
  <hr />
  <h1>YOUR CONTACT DETAILS</h1>
  <form  action="mailto:mdhussainahmad993@gmail.com" method="post" enctype="text/plain">
    <div class="form-group">
      <label>Your Name</label>
      <input class="form-control" type="text" name="Your Name" value=""><br />
      <label>Your Email</label>
      <input  class="form-control" type="email" name="Your Email" value=""><br />
      <label>Your Message</label>
      <textarea  class="form-control" name="Your Message" rows="4" cols="40"></textarea><br />
      <button class="btn btn-primary" type="submit">Contact</button>
    </div>

  </form>


<%- include("partials/footer"); -%>
